.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  color: yellow;
}

.titleImg {
  grid-column: 1;
  grid-row: 1;
}

.titleImgContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  width: 100%;
  place-items: center;
}

.header {
  text-align: center;
}

.timetableDiv {
  display: inline-block;
}

.timetableHeader {
  float: left;
}

.pi pi-calendar {
  margin-left: 1rem;
  margin-top: 1rem;
}

.tourPrice {
  font-size: 1.5rem;
  font-weight: bold;
  color: gold;
}

@media (max-width: 900px) {
  .title {
    font-size: 3rem;
  }
  .tourPrice {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
  }

  .tourPrice {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 1.6rem;
  }

  .tourPrice {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.3rem;
  }

  .tourPrice {
    font-size: 0.9rem;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 1rem;
  }

  .tourPrice {
    font-size: 0.8rem;
  }
}